aiofiles
aiohttp
apscheduler
bing_image_downloader
bs4
deepai
daxxhub
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
googlesearch-python
heroku3
httpx[http2]<0.24
img2pdf
kurigram~=2.2.1
lexica-api
motor
nekosbest
numpy
opencv-python
pillow==11.2.1
psutil
pycryptodome
pydub
pyfiglet
pykeyboard
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
requests
search-engine-parser
spotipy
speedtest-cli
telegraph
tgcrypto==1.2.5
unidecode
wget
git+https://github.com/pytgcalls/pytgcalls
git+https://github.com/TheChampu/pyrogram@master
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
git+https://github.com/TheChampu/yt-dlp-youtube-oauth2
